html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
@import "~bootstrap/scss/bootstrap";
/*@import "./scss/custom/components/components";
@import "./scss/custom/layout-style/index";
@import "./scss/custom/helper/utilities";
@import "./scss/custom/plugins/plugins";*/
